<!DOCTYPE html>
<html>

<head>
    <title>Home page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div id="wrap">
        <div id="form" style="min-height: 80vh;">
            <h2>Base on your information, the desease is predicted as <%= desease %></h2>
        </div>

    </div>
</body>

</html>