#form-container input[type="submit"] {
    width: 80%;
}

#form #form-container {
    width: max-content;
}

input[type="file"] {
    margin: auto;
}

#error-filesize {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f8d7da;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 80%;
    margin: 1rem auto !important;
}

.alert {
    display: flex;
}